@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

html,body {
    background-color: #E8E8E8;
}

header {
    background-color: #4D41C0;
    color: #FFFFFF;
}

a,a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}