@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #E8E8E8;
    --color-primary: #4D41C0;
    --white: #FFFFFF;
    --textgray: #4A4A4A;

}


* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

html,body {
    background-color: var(--bg-gray);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

a,a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list {
    padding: 40px 0;
}

.dsmovie-card {
    width: 100%;
    
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}

.dsmovie-card-description h3 {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    color: var(--textgray);
    text-align: center;
}

.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dsmovie-form-container {
    padding:40px 0;
    max-width: 480px;
}