@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #E8E8E8;
    --color-primary: #4D41C0;
    --white: #FFFFFF;

}


* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

html,body {
    background-color: var(--bg-gray);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

a,a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
    margin-right: 10px;
}